{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Heading Start -->
<section class="container-fluid py-3 text-center wow fadeInUp" data-wow-delay="0.3s" id="Occupational_Therapy">
    <div class="container">
        <h1 class="display-4" style="color: #5CC6D2;font-family: 'Times New Roman', Times, serif;">Heritage City Institute of Allied Health Sciences</h1>
    </div>
</section>
<!-- Heading End -->

<!-- Department 1 -->
<section class="container-fluid bg-light py-5 vh-100 wow fadeInUp" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="h1 mb-4 hover-effect">Bachelor of Occupational Therapy
                </h2>
                <p class="mt-3 mb-4 hover-effect">Occupational Therapy (OT) is concerned with the treatment and rehabilitation of individuals who are,  mentally, emotionally, and physically challenged. The 4 year undergraduate course  will equip the students to be proficient occupational therapists who can assist people who need therapeutic care and support. Occupational therapists are obligated to conduct therapeutic treatment so that patients can enjoy their lives without constraints.

                </p>
                <p class="mb-4 hover-effect">An occupational therapy degree will set the students up for careers like occupational therapy aide, speech therapist, occupational therapist, occupational therapist in neuro-rehabilitation, physiotherapy assistant, pediatric therapist, etc. The candidates can be hired in multi-specialty hospitals, rehabilitation centers, neurorehabilitation centers, geriatric homes or old age homes, private practice or private clinics, and many more.

                </p>
                <!-- <a href="#" class="btn btn jiggle-effect" style="background-color: #5CC6D2;color: white;">Learn More</a> -->
            </div>
            <div class="col-md-6 position-relative mt-1" style="animation: slideInFromRight 1s forwards;">
                <div class="row g-0 about_image">
                    <img class="w-100 h-100" src="{% static 'img/team-2.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Department 2 -->
<section class="container-fluid bg-light py-5 vh-100 wow fadeInUp" data-wow-delay="0.3s" id="Medical_Imaging">
    <div class="container">
        <div class="row">
            <div class="col-md-6 position-relative mt-1" style="animation: slideInFromRight 1s forwards;">
                <div class="row g-0 about_image">
                    <img class="w-100 h-100" src="{% static 'img/team-2.jpg' %}">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="h1  mb-4 hover-effect">B.Sc Medical Imaging Technology
                </h2>
                <p class="mt-3  mb-4 hover-effect">Medical Imaging Technology (MIT) involves the exploration of various techniques for capturing images (X-rays, ultrasounds, magnetic resonance imaging, endoscopy, and other medical equipment) of human body parts, serving both medical and research objectives. 

                </p>
                <p class="mb-4 hover-effect">The graduates have great opportunities to work in diverse health care, both in the public and private sectors, as imaging technologists, application/technical specialists for imaging modalities in healthcare companies, and as teaching faculties in academic institutions. This course of study plays a huge role in diagnosing various types of diseases and conditions in interior organs, parts, and tissues of the human body that are not visible to the naked eye. Doctors need medical imaging technology in order to obtain visual representations of these organs, tissues, and parts.
                </p>
                <!-- <a href="#" class="btn btn jiggle-effect" style="background-color: #5CC6D2;color: white;">Learn More</a> -->
            </div>
            
        </div>
    </div>
</section>

<!-- Department 3 -->
<section class="container-fluid bg-light py-5 vh-100 wow fadeInUp" data-wow-delay="0.3s" id="Medical_Laboratory">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <h2 class="h1 mb-4 hover-effect">B.Sc Medical Laboratory Technology
                </h2>
                <p class=" mt-3 mb-4 hover-effect">Medical Laboratory Technology (MLT) is a healthcare specialty dedicated to diagnosing, treating, and preventing diseases with clinical laboratory tests. MLT courses equip students to perform diagnostic analyses on body fluids using hematology, bacteriology, chemical, and microscopic immunology analysis tests. Students graduating will be equipped with the skills to handle advanced lab equipment and accurately perform laboratory analyses.
                </p>
                <p class="mb-4 hover-effect">MLT graduates enjoy numerous employment options because clinical workers continue to be indispensable assets across hospitals, clinics, nursing homes, public health facilities, and commercial laboratories.
                </p>
                <!-- <a href="#" class="btn btn jiggle-effect" style="background-color: #5CC6D2;color: white;">Learn More</a> -->
            </div>
            <div class="col-md-6 position-relative mt-1" style="animation: slideInFromRight 1s forwards;">
                <div class="row g-0 about_image">
                        <img class="w-100 h-100" src="{% static 'img/team-2.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Department 4 -->
<section class="container-fluid bg-light py-5 vh-100 wow fadeInUp" data-wow-delay="0.3s" id="Anaesthesia">
    <div class="container">
        <div class="row">
            <div class="col-md-6 position-relative mt-1" style="animation: slideInFromRight 1s forwards;">
                <div class="row g-0 about_image">
                    <img class="w-100 h-100" src="{% static 'img/team-2.jpg' %}">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="h1 mb-4 hover-effect">B.Sc Operation Theatre and Anaesthesia Technology
                </h2>
                <p class=" mt-3 mb-4 hover-effect">The 4-year B.Sc in Operation Theatre and Anaesthesia Technology (OT & AT) provides students with comprehensive knowledge in the handling and management of pre-surgical and anaesthesia instruments. This structured curriculum is designed to impart the necessary skills and understanding for effective assistance in operation theatres during surgeries. The program includes theoretical classes, practical training, clinical rotations, and hands-on experience in both operation theatre and anaesthesia technology.
                </p>
                <p class="mb-4 hover-effect">Graduates of this program can explore a diverse array of career opportunities in the field of operation theatre and anaesthesia technology. Potential roles include operation theatre technologist, anaesthesia technologist, surgical assistant, anaesthesia assistant, and various other rewarding positions.
                </p>
                <!-- <a href="#" class="btn btn jiggle-effect" style="background-color: #5CC6D2;color: white;">Learn More</a> -->
            </div>
            
        </div>
    </div>
</section>

<!-- Heading Start -->
<section class="container-fluid py-3 text-center wow fadeInUp" data-wow-delay="0.3s" id="Physiotherapy">
    <div class="container">
        <h1 class="display-4" style="color: #5CC6D2;font-family: 'Times New Roman', Times, serif;">Heritage City College of Physiotherapy
        </h1>
    </div>
</section>
<!-- Heading End -->

<!-- Department 5 -->
<section class="container-fluid bg-light py-5 vh-100 wow fadeInUp" data-wow-delay="0.3s" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 position-relative mt-1" style="animation: slideInFromRight 1s forwards;">
                <div class="row g-0 about_image">
                    <img class="w-100 h-100" src="{% static 'img/team-2.jpg' %}">
                </div>
            </div>
            <div class="col-md-6 mb-4 hover-effect">
                <h2 class="h1 mb-4 hover-effect">Bachelor of Physiotherapy
                </h2>
                <p class="mt-3 mb-4 hover-effect">The Bachelor of Physiotherapy (BPT) is a popular 4-year undergraduate degree followed by a 6-month internship. BPT focuses on treating and curing disorders through the use of physical intervention at the sites of the ailments or injuries. The students of BPT will learn about the different aspects of human anatomy, the treatment of multisite healthcare challenges, and the treatment of muscular issues.
                </p>
                <p class="mb-4 hover-effect">The demand for physiotherapists is exponentially growing as they have become a vital part of diagnosis and treatment. The job opportunities vary from independent consultants, administrators, specialists, researchers, and educators in the healthcare industry. 
                </p>
                <!-- <a href="#" class="btn btn jiggle-effect" style="background-color: #5CC6D2;color: white;">Learn More</a> -->
            </div>
            
        </div>
    </div>
</section>

<!-- Heading Start -->
<section class="container-fluid py-3 text-center wow fadeInUp" data-wow-delay="0.3s" id="Nursing">
    <div class="container">
        <h1 class="display-4" style="color: #5CC6D2;font-family: 'Times New Roman', Times, serif;">Heritage City College of Nursing
        </h1>

    </div>
</section>
<!-- Heading End -->

<!-- Department 6 -->
<section class="container-fluid bg-light py-5 vh-100 wow fadeInUp" data-wow-delay="0.3s"     >
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 hover-effect">
                <h2 class="h1 mb-4 hover-effect">B.Sc Nursing
                </h2>
                <p class="mt-3 mb-4 hover-effect">B.Sc Nursing is a 4-year-long undergraduate degree that stands out as a widely chosen undergraduate professional program, encompassing the promotion of health, illness prevention, and the care of individuals who are mentally and physically ill or disabled. The program is focused on advancing critical care and developing the thinking skills, efficiency, and traits integral to the practice of professional nursing. 
                </p>
                <p class="mb-4 hover-effect">After the completion of B.Sc. Nursing, the candidates can be employed in both the private and government sectors, including nursing homes, hospitals, etc. Nursing has scope in both the teaching and medical sector. 
                </p>
                <!-- <a href="#" class="btn btn jiggle-effect" style="background-color: #5CC6D2;color: white;">Learn More</a> -->
            </div>
            <div class="col-md-6 position-relative mt-1" style="animation: slideInFromRight 1s forwards;">
                <div class="row g-0 about_image">
                    <img class="w-100 h-100" src="{% static 'img/team-2.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}