{% extends 'base.html' %}
{% load static %}
{% block title6 %}active{% endblock %}


{% block content %}

<!-- Page Header Start -->
<div class="container-fluid text-white py-4">
    <div class="container">
        <h1 class="text-center" style="color: #5CC6D2;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;">Testimonials</h1>
    </div>
</div>
<!-- Page Header End -->

<!-- first corousel  -->
<div class="container-fluid container-testimonial py-5" style="border:50px solid white; margin-top: -100px;">
    <div class="row">
        <!-- Carousel Section Start -->
        <div id="testimonialCarousel1" class="carousel slide col-lg-6" data-bs-ride="carousel" data-bs-interval="2500" style="background: linear-gradient(#5CC6D2,white);border:10px solid white;">
            <div class="carousel-inner">
                <!-- First Slide with Cards -->
                <div class="carousel-item active">
                    <div class="container pt-5">
                        <div class="row g-4">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card border-0">
                                    <div class="card-body text-center">
                                        <img src="{% static 'img/team-1.jpg' %}" class="img-fluid mb-4" alt="Pathology Testing">
                                        <p class="mb-2 p-1" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                                        <p class="text-dark mb-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Pravin P</p>
                                        <p class="text-dark mt-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">B.Sc. Nursing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card border-0">
                                    <div class="card-body text-center">
                                        <img src="{% static 'img/team-1.jpg' %}" class="img-fluid mb-4" alt="Pathology Testing">
                                        <p class="mb-2 p-1" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                                        <p class="text-dark mb-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Fida Thasni</p>
                                        <p class="text-dark mt-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;"> B.Sc. Medical Laboratory Technology
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
                <!-- second Slide with Cards -->
                <div class="carousel-item">
                    <div class="container pt-5">
                        <div class="row g-4">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card border-0">
                                    <div class="card-body text-center">
                                        <img src="{% static 'img/team-1.jpg' %}" class="img-fluid mb-4" alt="Pathology Testing">
                                        <p class="mb-2 p-1" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Excellent Student</p>
                                        <p class="text-dark mb-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Nazneen</p>
                                        <p class="text-dark mt-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Physiotherapy
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card border-0">
                                    <div class="card-body text-center">
                                        <img src="{% static 'img/team-1.jpg' %}" class="img-fluid mb-4" alt="Pathology Testing">
                                        <p class="mb-2 p-1" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                                        <p class="text-dark mb-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Amna Salim</p>
                                        <p class="text-dark mt-0" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Occupational Therapy</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel Navigation -->
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="display: none;"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="display: none;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel Section End -->

        <!-- video -->
        <!-- Carousel Section Start -->
        <div id="testimonialCarousel2" class="carousel slide col-lg-6" data-bs-ride="carousel" data-bs-interval="3000" style="background: linear-gradient(white,#5CC6D2);border:10px solid white;">
            <div class="carousel-inner">
                <!-- First Slide with Cards -->
                <div class="carousel-item active">
                    <div class="container pt-5">
                        <div class="row g-4">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card video-card border-0">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/VIDEO_ID_HERE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">John Doe1</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card video-card border-0">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/VIDEO_ID_HERE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">John Doe2</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
                <!-- second Slide with Cards -->
                <div class="carousel-item">
                    <div class="container pt-5">
                        <div class="row g-4">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card video-card border-0">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/VIDEO_ID_HERE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">John Doe3</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex align-items-stretch">
                                <div class="card video-card border-0">
                                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/VIDEO_ID_HERE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">John Doe4</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel Navigation -->
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="display: none;"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="display: none;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel Section End -->
    </div>
</div>


<!-- Testimonial Start -->
<div class="container-fluid container-testimonial py-5">
    <div class="container pt-5">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-2.jpg' %}" class="img-fluid mb-4" alt="Pathology Testing">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Christina </p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Occupational Therapy</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-3.jpg' %}" class="img-fluid mb-4" alt="Microbiology Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Lima Anand</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;"> B.Sc. Nursing
                        </p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-4.jpg' %}" class="img-fluid mb-4" alt="Biochemistry Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Asiyath Noufala Ifrath I.A</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Occupational Therapy
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-2.jpg' %}" class="img-fluid mb-4" alt="Biochemistry Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Anju George </p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;"> B.Sc. Nursing
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4 mt-0">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-3.jpg' %}" class="img-fluid mb-4" alt="Histopatology Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Laharika G</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;"> B.Sc. Medical Laboratory Technology
                        </p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-2.jpg' %}" class="img-fluid mb-4" alt="Urine Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Outstanding Performance</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Geethashree MP</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">B.Sc. Nursing
                        </p>
                                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-4.jpg' %}" class="img-fluid mb-4" alt="Histopatology Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Excellent Student</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Sumukha S R</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Physiotherapy</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-3.jpg' %}" class="img-fluid mb-4" alt="Blood Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;"> Excellent Student @</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Reeba Thomas</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Occupational Therapy</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row g-4 mt-0">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-2.jpg' %}" class="img-fluid mb-4" alt="Urine Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Excellent Student</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Suhaira P S</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">B.Sc. Medical Laboratory Technology
                        </p>
                                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-4.jpg' %}" class="img-fluid mb-4" alt="Histopatology Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Excellent Student</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Rida Tayaba</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Physiotherapy</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-3.jpg' %}" class="img-fluid mb-4" alt="Blood Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;"> Excellent Student @</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Sumijkhas R</p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">Bachelor of Occupational Therapy</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="card service-item">
                    <div class="card-body">
                        <img src="{% static 'img/team-2.jpg' %}" class="img-fluid mb-4" alt="Biochemistry Tests">
                        <p class="mb-2 p-1 text-center" style="color: white; left: 0; width: 100%; background:#5CC6D2;">Excellent Student @</p>
                        <p class="text-dark mb-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">Rashmitha </p>
                        <p class="text-dark mt-0 text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold; font-size: 13px;">B.Sc. Medical Imaging Technology
                        </p>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
<!-- Testimonial End -->

{% endblock %}